{{!-- ------------------------------------------------------------------------------------------------------------------
 PROJECTS TEMPLATE
 This template provides the projects view for the application.  It displays a list of all the projects.
------------------------------------------------------------------------------------------------------------------- --}}

<div id="projects">

	<h1>Projects</h1>

	<form {{action "save" on="submit"}}>

		<button type="submit" class="{{unless isDirty "inactive"}} {{if saving "saving"}}" disabled="{{unless isDirty "true"}}">
			<span class="{{unless saving "invisible"}}">
				Saving <i class="bts bt-spinner bt-pulse"></i>
			</span>
			<span class="{{if saving "invisible"}}">
				Save
			</span>
		</button>

		<ul>
			{{#each project in model}}
				<li class="project-item {{if project.failed "failed"}}">

					<span class="title">
						{{#link-to "project" project}}
							{{project.name}}
						{{/link-to}}
					</span>

					{{!-- TODO move the checkboxes and save logic directly in to settings --}}
					<div>
						{{#list-checkbox prefix="dashboard" postfix=project.id checked=project.inDashboard }}
							<span class="{{if project.inDashboard "emphasize"}}">
								<i class="bts bt-bar-chart"></i> in dashboard
							</span>
						{{/list-checkbox}}

						{{#list-checkbox prefix="ignored" postfix=project.id checked=project.ignored }}
							<span class="{{if project.ignored "highlight"}}">
								<i class="bts bt-bell-off"></i> ignore
							</span>
						{{/list-checkbox}}
					</div>

					<span class="durationTitle {{if project.failed "failed"}}">
						{{#if project.failed}}
							failed
						{{else if project.finishedOn}}
							finished
						{{else if project.startedOn}}
							started
						{{else if project.queuedOn}}
							queued
						{{/if}}
					</span>

					<span class="duration">
						{{#if project.finishedOn}}
							{{from-now value=project.finishedOn}}
						{{else if project.startedOn}}
							{{from-now value=project.startedOn}}
						{{else if project.queuedOn}}
							{{from-now value=project.queuedOn}}
						{{/if}}
					</span>
				</li>
			{{/each}}
		</ul>

	</form>
</div>
