{{!-- ------------------------------------------------------------------------------------------------------------------
DASHBOARD TEMPLATE
 This template provides the dashboard for the application.  It is largely a composite of other views, api calls, etc.
------------------------------------------------------------------------------------------------------------------- --}}

<div id="dashboard">
	<h1 class="invisible">Dashboard</h1>

	{{#if projects}}
		<nav class="{{if hasFailures "failed"}} ">
			<h1 class="invisible">Projects Nav</h1>
			<ul>
				{{#each project in projects}}
					<li id={{project.id}}
						class="nav-item {{unless project.successful "failed"}} {{if project.isActive "active"}}"
						style={{itemSize}}></li>
				{{/each}}
			</ul>
		</nav>

		<section class="metrics">
			{{render "project" current}}
		</section>
	{{else}}
		<section class="motivator">
			<h2>Missing Selected Projects</h2>
			<p>
				Only {{link-to "selected" "settings"}} projects will have metrics for successful builds displayed here.
			</p>
			<p>
				Failed builds will be shown here by default. Specific {{link-to "projects" "projects"}} 
				and build results can be excluded as needed.
			</p>
		</section>
	{{/if}}

	<footer class="build-container">
		{{#each build in builds}}
			<div class="build-item {{if build.failed "failed"}}">
				{{build.name}}
				<div>
					{{#if build.finishedOn}}
						{{from-now value=build.finishedOn}}
					{{else if build.startedOn}}
						{{from-now value=build.startedOn}}
					{{else if build.queuedOn}}
						{{from-now value=build.queuedOn}}
					{{/if}}
				</div>
			</div>
		{{/each}}
	</footer>
</div>

