<div id="dashboard">
	<h1 class="invisible">Dashboard</h1>
	<nav id="dashboard-nav">
		<h1 class="invisible">Favorites Nav</h1>
		<ul>
			{{#each favorite in favorites}}
				<li id={{favorite.id}}
					class="nav-item {{if favorite.isActive "active"}}"
					style="width: {{itemSize}}%;"></li>
			{{/each}}
		</ul>
	</nav>

	<div class="metrics">
		{{render "build" model}}
	</div>

	<footer class="builds-container {{if hasFailures "failed"}}">
		{{render "builds" builds}}
	</footer>
</div>

