{{#if model}}

	{{#if brokenBuilds}}

		<div style="height:28px;">
			<h1>Failed Builds</h1>
		</div>
		<div style="height:100%">
			<div class="fill-height-or-more">
				{{#each build in brokenBuilds}}
					<div class="broken-item">
						<span style="font-size: 55px;">{{build.name}}</span>
						<div>Committed by {{build.lastChange.by}} {{from-now value=build.lastChange.on}}</div>
					</div>
				{{/each}}
			</div>
		</div>

	{{else}}

		<nav style="height:10px">
			<div class="quality-container" >
				{{#each project in favorites}}
					<div id={{project.id}} class="quality-item {{if project.isActive "active"}}" style="min-width: {{itemSize}}%;"></div>
				{{/each}}
			</div>
		</nav>

		<article style="height:calc(100% - 210px)">
			<br />
			<h1 style="font-size:38px;">{{model.name}}</h1>
			Committed by {{model.lastChange.by}}  {{from-now value=model.lastChange.on}}

			<br /><br /><br />{{!-- TODO: remove these --}}
			<h2>Coverage: {{model.coverage.total}}%</h2>

			<label style="width:100px; float:left;">Statements:</label>
			<div style="float:left; width:calc(100% - 100px);">
				{{test-coverage value=model.coverage.statements}}
			</div>

			<label style="width:100px; float:left;">Methods:</label>
			<div style="float:left; width:calc(100% - 100px);">
				{{test-coverage value=model.coverage.methods}}
			</div>

			<label style="width:100px; float:left;">Classes:</label>
			<div style="float:left; width:calc(100% - 100px);">
				{{test-coverage value=model.coverage.classes}}
			</div>

			<br /><br /><br /><br /> {{!-- TODO: remove these --}}
			<h2>Duration: {{time}}</h2>
			{{build-history value=model.durationHistory}}

		</article>

		<aside style="height:200px;">
			<div class="build-container" >
				{{#each build in builds}}
					<div id={{build.id}} class="build-item">
						{{build.name}}
						{{#if build.finishedOn}}
							finished {{from-now value=build.finishedOn}}
						{{else if build.startedOn}}
							started {{from-now value=build.startedOn}}
						{{else if build.queuedOn}}
							queued {{from-now value=build.queuedOn}}
						{{/if}}
					</div>
				{{/each}}
			</div>
		</aside>

	{{/if}}

{{else}}

	Loading
	{{!-- TODO: show a better loading message --}}

{{/if}}
