{{#if model}}

<nav style="height:10px">
	{{render "favorites" favorites}}
</nav>

<article style="height:calc(100% - 210px)">
	{{render "build" model}}
	<h2>Coverage</h2>
	{{test-coverage value=model.coverage.statements}}
	{{test-coverage value=model.coverage.methods}}
	{{test-coverage value=model.coverage.classes}}
</article>

<aside style="height:200px;">
	{{render "builds" builds}}
</aside>

{{else}}

Loading

{{/if}}
