{{!-- ------------------------------------------------------------------------------------------------------------------
DASHBOARD TEMPLATE
 This template provides the dashboard for the application.  It is largely a composite of other views, api calls, etc.
------------------------------------------------------------------------------------------------------------------- --}}

<div id="dashboard">
	<h1 class="invisible">Dashboard</h1>

	<nav>
		<h1 class="invisible">Projects Nav</h1>
		<ul>
			{{#each project in projects}}
				<li id={{project.id}}
					class="nav-item {{unless project.successful "failed"}} {{if project.isActive "active"}}"
					style="width: {{itemSize}}%;"></li>
			{{/each}}
		</ul>
	</nav>

	<section class="metrics">
		{{render "project" current}}
	</section>

	<footer class="build-container">
		{{render "projects" builds}}
	</footer>
</div>

