{{!-- ------------------------------------------------------------------------------------------------------------------
DASHBOARD TEMPLATE
 This template provides the dashboard for the application.  It is largely a composite of other views, api calls, etc.
------------------------------------------------------------------------------------------------------------------- --}}

<div id="dashboard">
	<h1 class="invisible">Dashboard</h1>
	<nav>
		<h1 class="invisible">Favorites Nav</h1>
		<ul>
			{{#each favorite in favorites}}
				<li id={{favorite.id}}
					class="nav-item {{if favorite.isActive "active"}}"
					style="width: {{itemSize}}%;"></li>
			{{/each}}
		</ul>
	</nav>

	<section class="metrics">
		{{render "build" model}}
	</section>

	<footer class="builds-container {{if hasFailures "failed"}}">
		{{render "builds" builds}}
	</footer>
</div>

