<div id="builds">
	<h1>Builds</h1>
	<ul>
		{{#each build in model}}
			<li id={{build.id}} class="build-item {{if build.failed "failed"}}">
				<span class="title">
					{{#link-to "build" build}}
						{{build.name}}
					{{/link-to}}
				</span>

				<span class="durationTitle {{if build.failed "failed"}}">
					{{#if build.failed}}
						failed
					{{else if build.finishedOn}}
						finished
					{{else if build.startedOn}}
						started
					{{else if build.queuedOn}}
						queued
					{{/if}}
				</span>

				<span class="duration">
					{{#if build.finishedOn}}
						{{from-now value=build.finishedOn}}
					{{else if build.startedOn}}
						{{from-now value=build.startedOn}}
					{{else if build.queuedOn}}
						{{from-now value=build.queuedOn}}
					{{/if}}
				</span>
			</li>
		{{/each}}
	</ul>
</div>
